### Data conversion
####  creates a new dataset with only supplier name and items names for each invoice
####  creates a new "category" column for annotation

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/run/media/maher/01D69D8A18EAFF70/Internship/data/data_intern.csv')
n=df.shape[0]
df.head()

,image_id,supplier_name,supplier_details,receiver_name,receiver_details,tax_rate,TVA_amount,invoice_number,invoice_date,total_HT,total,Product_Designation
0,img20191018_09534180_0001.jpg,,"LEADER PHONE S AR L,50bis Av 10 Decembre 1948 ...",MEODIS (GEANT TUNIS CITY),"783298MPMO00,CENTRE COMMERCIAL TUNIS CITY,2032...",19%,1128240,"FC1802290,BL/Facture Ndeg:",14/09/18,5093801050,7066945,"ILP P20,ILP M35,ILP N18,ILP N24,ILP N28,ILP N37+"
1,img20191018_09553882_0001.jpg,Centrale Laitiere de Mahdra,DKhia B P 123 Mahoia 5100 - Tunisie Tel (216) ...,".,MEDITERRANTENNE DIST MEDDIS","CENTRE CANMERCIAL BOURG,4ite WALL KTDQUN,Es,DJ...",19%,1105610,F470226$,OS/UI/LE,12908310,1440320,"JEURRE CON 200 gr VITAL,""KOMACE FRAIS NATUPE SUC"
2,img20191018_09564040_0001.jpg,ARTS MENASCRS-DISTRIBUTION,"UE a,RC B1120801997 MF CU,Sieve Social: 176 Av...",MEDDIS DISTRIBUTION,"CENTRE COMM. TUNIS CITY,2032 TUNIS ARIANA,MATR...",19%,23404300,Facture FA181265,05/12/18,1233840,1468870,"ROTARY NOSE TRIMMER,KRUPS NESPRESSO WHITE"
3,img20191018_09571140_0001.jpg,ARTS MENASCRS-DISTRIBUTION,Societe SARL Capital 2 COC 009 D nars RCB11522...,STE MEDDIS,"CENTRE COMMERCIAL TUNIS CITY,Matricule Fiscal,...",19%,1573820,FV1804217,14/12/18,8723316,9867746,"5/2MP 3G LEAGOO BLACK,SMARTPHONE 29 5 0"" 1/16G..."
4,img20191018_09574532_0001.jpg,MAGHREB FOOD Industries,Sernail corn Adesse : I4.impasse X-01 Fstouma ...,Client : GEANT TUNIS CITY,"C. COMMERCIAL TUNIS CITY,ARIANA,TUNIS 2032,TUN...",7%,22300,BL/Facture Ndeg306/2018,07/10/2018,372600,341473,"emma,Pois chiche mima"

In [3]:
df['Product_Designation'][0].split(',')

['ILP P20', 'ILP M35', 'ILP N18', 'ILP N24', 'ILP N28', 'ILP N37+']

In [4]:
df.columns

Index(['image_id', 'supplier_name', 'supplier_details', 'receiver_name',
       'receiver_details', 'tax_rate', 'TVA_amount', 'invoice_number',
       'invoice_date', 'total_HT', 'total', 'Product_Designation'],
      dtype='object')

In [5]:
features=['supplier_name','Product_Designation','category']

In [6]:
L=[]
k=0
for i in range(df.shape[0]):
    n=len(df['Product_Designation'][i].split(','))  # number of items for invoice i
    for j in range(n):
        L.append([
            df.iloc[i]['supplier_name'],
            df.iloc[i]['Product_Designation'].split(',')[j],
            '' # category
        ])
X=pd.DataFrame(L,columns=features)

print(f'shape={X.shape}')
X.head()

shape=(2697, 3)

  supplier_name Product_Designation category
0                           ILP P20
1                           ILP M35
2                           ILP N18
3                           ILP N24
4                           ILP N28

In [15]:
X.to_csv('./data/new_data.csv')